<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<processors>
			<uiDuplicateItem>
				<processor type="Pintle.ItemCopyExtensions.Pipelines.UiDuplicateItem.PageItemHandler, Pintle.ItemCopyExtensions" method="RemapToRelativeDataSourses" mode="on"/>
			</uiDuplicateItem>
		</processors>
		<events>
			<event name="item:copied">
				<handler type="Pintle.ItemCopyExtensions.Events.ItemEventHandler, Pintle.ItemCopyExtensions" method="OnItemCopied"/>
			</event>
		</events>
		<pintle>
			<feature>
				<itemCopyExtensions>
					<itemCopyingService type="Pintle.ItemCopyExtensions.ItemCopyingService, Pintle.ItemCopyExtensions" sintleInstance="true">
						<param name="remapSharedLayout">true</param>
						<param name="remapFinalLayout">true</param>
						<pageModulesTemplates hint="raw:AddModuleTemplate">
						</pageModulesTemplates>
					</itemCopyingService>
				</itemCopyExtensions>
			</feature>
		</pintle>
	</sitecore>
</configuration>